<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.insider.automation.testlisten.TestListener" />
    </listeners>
    <test verbose="2" preserve-order="true" name="/Users/rashadnasirli/Documents/Insider/web-automation">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.insider.automation.steps.testWork">
                <methods>
                    <include name="testit"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>